@import "~normalize.css/normalize.css"

theme-black = #222
theme-white = #fefefe

*, *:before, *:after
 box-sizing border-box

html
  height 100%

body
  background-color #efefef
  color theme-black
  cursor default
  display flex
  flex-flow column nowrap
  font-family "Oxygen Mono", sans-serif
  line-height 1.3
  min-height 100%
  user-select none

main
  display flex
  flex-flow column nowrap
  flex 1 0 auto

section
  flex-flow column nowrap

div, section
  display flex

[data-selectable]
  user-select text

[data-actionable]
  cursor pointer

[data-component="application"]
  flex 1 0 auto
a
  color inherit
  text-decoration inherit

.field
  background-color theme-white
  border 1px solid #ccc
  color theme-black
  flex 0 0 auto
  height 100%
  padding 0 1em

