[data-component="stock-detail"]
  background-color #fefefe
  flex 1 0 auto

  .prices
    flex-flow column

    .price
      align-items center
      margin-top 1px

      .bar
        justify-content space-between
        padding 5px 5px
        min-width 165px

      .delta
        margin 0 8px

        &[data-delta="negative"]
          color red

        &[data-delta="positive"]
          color green

      .label
        margin 0 5px
