header-height = 55px

[data-component="stocks"]
  flex 1 0 auto
  flex-flow row

  .stock-list
    flex 1 0 490px
    flex-flow column

    .stock-search
      border-right 1px solid #ccc
      height header-height

      &:focus
        outline none

    .stocks
      flex-flow column
      max-height "calc(100vh - %s)" % header-height
      overflow-y scroll

    .no-results
      display flex
      justify-content center
      align-items center
      margin-top 3em

  .stock-detail
    flex 1 1 100%
    flex-flow column

    [data-component="stock-detail"]
      flex-flow column
      max-height "calc(100vh - %s)" % header-height
      overflow-y scroll

    .stock-actions
      align-items center
      height header-height

      .field
        flex 1 1 auto
        position relative

        &:after
          color #666
          content attr(data-label)
          display inline-block
          font-variant small-caps
          left 1em
          top 0
          position absolute

        & + .field
          border-left 1px solid #ccc

      .action
        background-color #000
        color #fefefe
        padding 1em

        & + .action
          border-left 1px solid #ccc

        &.selected
          text-decoration underline

        &[data-action="buy"]
          background hsl(120, 100%, 45%)

        &[data-action="sell"]
          background hsl(0, 100%, 45%)

        &[data-action="hold"]
          background hsl(240, 100%, 45%)
